:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(40, 34, 34, 0.87);
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-info {
  border: darkgray solid 2px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.col1 {
  grid-column: 1;
  border: gray solid 3px;
}

.col2 {
  grid-column: 2;
}

.detail-info {
  display: grid;
  background-color: beige;
  grid-template-columns: auto auto;
  padding: 10px;
}

.subCol1 {
  grid-column:1;
}

#feels-like {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}

#humidity {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}

#sunrise {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}

.subCol2 {
  grid-column:2;
} 

#wind {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}

#rain {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}

#sunset {
  background-color: white;
  border: transparent solid 2px;
  border-radius: 5px;
}




